.b1{height: 100px;width:100px;margin-top:300px;
background-color: aqua;
color:black;}

.slide{
    height: 400px;
}
.form-control{
    margin-left: 538px;
}
.card-img-top{
    height: 180px;
    padding: 10px;
}
section{
    background-color: rgb(187, 209, 202);
   padding: 10px;
}
h1{
    text-align: center;
    padding: 10px;
}
.card{
    height: 420px;
 
}
.location{
    text-align: center;
}
nav{
    height: 100px;
}
h4{
    text-align: center;
    font-weight: bold;
}

